:root {
    --clr-background: #1F2937;
    --clr-text: #F9FAF8;
    --clr-secondary-text: #E5E7EB;
    --clr-button: #3882f6;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    overscroll-behavior: none;
}

/* logo and nav bar */

header {
    background-color: var(--clr-background);
    color: var(--clr-text);
    height: 60vh;
    padding: 1rem;
}

.logo-and-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5%;
    margin: 0 28%;
}

h1 {
    margin: 0;
    font-size: 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    font-size: 18px;
}

/* main content in header */

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95%;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 50px;

}

.header-text {
    width: 38%;
}

.header-text h1 {
    font-size: 48px;
}

.header-text p {
    margin: 5px 0 10px;
    padding: 0;
    font-size: 18px;
}

button {
    font-size: 1rem;
    padding: 0.5em;
    background-color: var(--clr-button);
    color: var(--clr-text);
    border: 0;
    border-radius: 5px;
    width: 30%;
    cursor: pointer;
}

.image {
    display: flex;
    background-color: grey;
    min-width: 50%;
    min-height: 250px;
    justify-content: center;
    align-items: center;
}

/* second section */

.section-two {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: start;
}

.cards {
    display: flex;
    width: 50%;
    height: 50%;
    gap: 42px;
}

.card {
    border: 2px solid red;
    width: 50%;
    height: 40%;
}

