:root {
    --clr-background: #1F2937;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

header {
    background-color: var(--clr-background);
    color: white;
}

h1 {
    margin: 0;
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    font-size: 18px;
}
